.box {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Shrikhand";
  src: url(css\f ontsShrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(css\f ontsRoboto-Black.ttf);
  src: url(css\f ontsRoboto-Medium.ttf);
}
* {
  font-family: "Shrikhand", "Roboto", Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 21px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 300;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.header img {
  width: 50%;
  height: auto;
}

.form-localisation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #eaeaea;
  border-top: 5px solid #dbdbdb;
}
.form-localisation_container_logo {
  padding-right: 20px;
  color: #353535;
}
.form-localisation_container_form input {
  border-style: none;
  background-color: #eaeaea;
  font-weight: 500;
  font-size: 25px;
  width: 155px;
}
.form-localisation_container_form input::placeholder {
  color: #353535;
}

.jump::before {
  display: inline;
}

.jump::after {
  content: "";
  display: block;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
}
.presentation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
}
.presentation_container_titre {
  display: flex;
  text-align: center;
}
.presentation_container_titre h1 {
  display: flex;
  font-family: "Roboto";
  font-weight: 600;
}
.presentation_container_sous-titre h2 {
  font-family: "Roboto";
  font-weight: 100;
  color: #707070;
  text-align: center;
}

.bouton {
  background: linear-gradient(356deg, #9b59dc 0%, #a77fd8 33%, #ff79da 100%);
  box-shadow: 3px 2px 2px #dddddd;
  display: flex;
  height: 40px;
  width: auto;
  margin: 20px;
  padding: 25px 30px;
  border-radius: 25px;
}
.bouton:hover {
  background: linear-gradient(356deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
}
.bouton p {
  align-self: center;
  color: white;
  font-size: larger;
  font-weight: 500;
}

.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.nav_titre {
  display: flex;
  font-family: "Roboto";
  font-weight: 600;
}

.nav_bouton {
  display: flex;
  align-self: center;
  height: 90px;
  width: 100%;
  margin: 15px 0;
  background-color: #f6f6f6;
  border: solid 2px black;
  border-radius: 35px;
}
.nav_bouton_rond {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
}
.nav_bouton_logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
  color: #7e7e7e;
}
.nav_bouton_h3 {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 25px;
  color: #353535;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.restaurant_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 375px;
  margin-bottom: 25px;
  box-shadow: 3px 2px 2px #dddddd;
  border-radius: 25px;
}
.restaurant_card_img {
  display: flex;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 75%;
}
.restaurant_card_img img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.restaurant_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}
.restaurant_card_info_texte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  width: 80%;
}
.restaurant_card_info_texte h3 {
  padding-top: 19px;
}
.restaurant_card_info_texte h4 {
  padding-bottom: 19px;
}
.restaurant_card_info_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5%;
  flex-direction: column;
  background: #353535;
  color: white;
}
.footer h3 {
  font-weight: normal;
}
.footer a {
  color: white;
}
.footer_logo {
  padding-bottom: 20px;
}
.footer_logo img {
  width: 25%;
  height: auto;
  filter: invert(100);
}
.footer_texte {
  padding-top: 15px;
}
.footer_texte_logo {
  display: flex;
  width: 25px;
  margin-right: 5px;
}
.footer_texte-1 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

/*# sourceMappingURL=styles.css.map */
