.nav_bouton {
    display: flex;
    align-self: center;
    @include height ($nav-height);
    width: 100%;
    max-width: 410px;
    margin: 15px 0;
    background-color: $colour-background;
    box-shadow: 3px 2px 2px darken($colour-background, 10%);
    border-radius: 20px;
    &:hover i{
        color: $colour-primary;
    }
    &:hover {
        background: #f5edff;
        box-shadow: 3px 2px 2px darken($colour-background, 30%)
    }


    &_rond {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-left: -11px;
        @include height ($rond-height);
        @include width ($rond-height);
        background-color: $colour-primary;
        border-radius: 25px;
        color: white;
        p {
            @include font-size ($p-font-sizes);
        }
    }
    &_logo {
        display: flex;
        align-items: center;
        padding-left: 25px;
        color: #7e7e7e;
        i {
            @include font-size ($p-font-sizes);
        }
    }

    &_h3 {
        @include font-size ($p-font-sizes);
        display: flex;
        width: auto;
        justify-items: center;
        align-items: center;
        padding-left: 25px;
        color: #353535;
        font-weight: 600;
    }
}   

