.nav_bouton {
    display: flex;
    align-self: center;
    height: 90px;
    width: 100%;
    margin: 15px 0;
    background-color: $colour-background;
    border: solid 2px black;
    border-radius: 35px;

    &_rond {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-left: -15px;
        height: 30px;
        width: 30px;
        background-color: $colour-primary;
        border-radius: 25px;
        color: white;
    }
    &_logo {
        display: flex;
        align-items: center;
        padding-left: 25px;
        color: #7e7e7e;
    }

    &_h3 {
        display: flex;
        justify-items: center;
        align-items: center;
        padding-left: 25px;
        color: #353535;
    }
}   
