.box {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: border-box;

  }
  
  p {
margin-block-start: 0px;
margin-block-end: 0px;
  }

  a {
    display: flex;
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }
  
