@font-face {
    font-family:"Shrikhand";
    src: url(css\Fonts\Shrikhand-Regular.ttf);
}
@font-face {
    font-family:"Roboto" ;
    src: url(css\Fonts\Roboto-Black.ttf);
    src: url(css\Fonts\Roboto-Medium.ttf)
}

* {
    font-family: 'Shrikhand', 'Roboto', Arial, Helvetica, sans-serif;
}

h3 {
    font-weight: 600;
    font-size: 21px;
}