.nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: none;
        width: 100%;
        justify-content: space-between;
    }

    &_titre {
        display: flex;

        @media screen and (min-width: 992px) {
            width: 100%;
        }

        h1 {
            @include font-size ($h1-font-sizes);
        }
    }
}