.jump::before {
    display: inline;
}

.jump::after {
    content: "";
    display: block;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colour-background;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 40px;

    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $colour-background;
        width: 100%;
        height: auto;
    }

    &_container_titre {
        display: flex;
        text-align: center;
        margin: 0 15%;

    }

    &_container_titre h1 {
        display: flex;
        @include font-size ($h1-font-sizes);
    }

    &_container_sous-titre {
        text-align: center;
        margin: 0 5%;

    }

    &_container_sous-titre p {
        @include font-size ($h4-font-sizes);
        color: #707070;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}