.restaurant {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $colour-background;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &_titre {
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            width: 100%;
        }

        h1 {
            @include font-size ($h1-font-sizes);
        }
    }

    &_card {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include height ($card-height);
        margin-bottom: 25px;
        box-shadow: 3px 2px 2px darken($colour-background, 10%);
        border-radius: 15px;

        @media screen and (min-width: 768px) {
            justify-content: space-between;
            width: 45%;
            margin: 20px auto;
        }

        &_img {
            display: flex;
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            @include height ($card-img-height);

            img {
                object-fit: cover;
                height: auto;
                width: 100%;
            }

            &_news-a {
                display: flex;
                position: absolute;
                right: 8%;
                margin-top: 15px;
                padding-left: 5%;
                padding-right: 5%;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                align-items: center;
                align-self: inherit;
                @include width ($card-new-width);
                @include height ($card-new-height);
                background: $colour-tertiary;
                @media screen and (min-width: 768px) {
                    right: 53.2%;
                    margin-top: 15px;
                }
                p {
                    color: darken($colour-tertiary, 35%);
                    @include font-size ($i-footer-and-new-font-sizes);
                }

                
            }
            &_news-b {
                display: flex;
                position: absolute;
                right: 8%;
                margin-top: 15px;
                padding-left: 5%;
                padding-right: 5%;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                align-items: center;
                align-self: inherit;
                @include width ($card-new-width);
                @include height ($card-new-height);
                background: $colour-tertiary;

                p {
                    color: darken($colour-tertiary, 35%);
                    @include font-size ($i-footer-and-new-font-sizes);
                }
                
            }
        }

        &_info {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            @include height ($card-info-height);

            &_texte {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 80%;

                h3 {
                    @include font-size ($h3-font-sizes);
                    padding-top: 19px;
                    padding-left: 15px;
                }

                p {
                    @include font-size ($p-font-sizes);
                    padding-bottom: 19px;
                    padding-left: 15px;
                }
            }

            &_logo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                padding-bottom: 20px;
                position: relative;

                i {
                    @include font-size ($p-font-sizes);
                }

                &_empty {
                    display: flex;
                    position: absolute;
                    opacity: 1;
                }

                &_full {
                    display: flex;
                    position: absolute;
                    opacity: 0;
                }

                &_empty:hover {
                    opacity: 0;
                    cursor: pointer;
                }

                &_full:hover {
                    cursor: pointer;
                    @include fill;
                    transition: transform 4000ms, opacity 4000ms;
                    

                }

            }
        }
    }
}

