.restaurant {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $colour-background;

    &_card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 375px;
        margin-bottom: 25px;
        box-shadow: 3px 2px 2px darken($colour-background, 10%); 
        border-radius: 25px;
        
        &_img {  
            display: flex;
            overflow: hidden;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            height: 75%;
            
            img {
                object-fit: cover;
                height: auto;
                width: 100%;
            }
        }
    &_info {    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 25%;   

        &_texte {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 15px;
            width: 80%;  
            
            h3 {
                padding-top: 19px;
            }
            h4 {
                padding-bottom: 19px;
            }
        }

        &_logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            padding-bottom: 10px;
        }
    }
}
}