@mixin h1 {
    font-family: "Roboto";
    font-weight: 600;
}

@mixin h3 {
    font-family: "Roboto";
    font-weight: 200;
    font-size: medium;
}

@mixin bouton {
    background: linear-gradient(
        356deg,
        rgba(155, 89, 220, 1) 0%,
        rgba(167, 127, 216, 1) 33%,
        rgba(255, 121, 218, 1) 100%);
    box-shadow: 3px 2px 2px darken($colour-background, 10%); 
}

@mixin arrow {
    display: flex;
    justify-self: left;
    align-self: center;
    position: absolute;
    left: 7%;
    i {
        color: #353535;
    }
      
}
