$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #f6f6f6;
$colour-bouton:  linear-gradient(to bottom right,$colour-secondary 10%, $colour-primary 100%);