/* Typographie responsive */ 

$breakpoints: (
  smaller : 410px,
  small: 650px, 
  medium : 768px,
  large : 992px
);

$p-form-font-sizes: (
  null  : 14px,
  smaller : 18px,
  small: 20px,
  medium : 20px
);

$p-font-sizes: (
  null  : 14px,
  smaller : 18px,
  small: 20px,
  medium : 24px
);

$p-menu-font-sizes: (
  null  : 14px,
  smaller : 14px,
  small: 20px,
  medium : 24px,
  large : 30px
);

$p-menu-ingredient-font-sizes: (
  null  : 13px,
  smaller : 13px,
  small: 17px,
  medium : 21px,
  large : 27px
);

$i-search-font-sizes: (
  null  : 15px,
  smaller : 17px,
  small: 20px,
  medium : 24px
);

$i-nav-font-sizes: (
  null  : 16px,
  smaller : 18px,
  small: 22px,
  medium : 24px
);

$i-heart-font-sizes: (
  null  : 18px,
  smaller : 20px,
  small: 22px,
  medium : 24px,
  large : 26px
);

$i-footer-and-new-font-sizes: (
  null  : 12px,
  smaller : 15px,
  small: 17px,
  medium : 20px
);

$i-footer-font-sizes: (
  null  : 18px,
  smaller : 20px,
  small: 18px,
  medium : 20px
);

$h1-font-sizes: (
  null  : 21px,
  smaller : 28px,
  small: 30px,
  medium : 36px
);

$h1-page-font-sizes: (
  null  : 24px,
  smaller : 30px,
  small: 34px,
  medium : 40px,
  large : 46px
);

$h2-font-sizes: (
  null  : 21px,
  smaller : 28px,
  small: 30px,
  medium : 36px
);

$h2-page-font-sizes: (
  null  : 14px,
  small : 16px,
  medium: 20px,
  large : 22px
);

$h3-font-sizes: (
  null  : 13px,
  smaller : 15px,
  small: 18px,
  medium : 24px
);

$h4-font-sizes: (
    null  : 15px,
    smaller : 18px,
    small: 22px,
    medium : 24px
);

$h5-font-sizes: (
    null  : 14px,
    smaller : 17px,
    small: 20px,
    medium : 20px,
    large: 20px,
);


/* Height responsive */ 

$form-height: (
  null  : 50px,
  smaller : 60px,
  small: 70px,
  medium : 80px
);

$bouton-height: (
  null  : 40px,
  smaller : 50px,
  small: 60px,
  medium : 70px
);

$nav-height: (
  null  : 70px,
  smaller : 80px,
  small: 90px,
  medium : 100px,
  large : 80px
);

$rond-height: (
  null  : 22px,
  smaller : 24px,
  small : 26px,
  medium : 28px
);

$card-height: (
  null  : 230px,
  smaller : 350px,
  small : 380px,
  medium : 380px,
  large: 400px
);

$card-img-height: (
  null  : 160px,
  smaller : 75%,
  small: 75%,
  medium : 75%,
  large : 75%
);

$card-info-height: (
  null  : 70px,
  smaller : 25%,
  small: 25%,
  medium : 25%,
  large : 25%
);

$card-new-height: (
  null  : 28px,
  smaller : 30px,
  small: 32px,
  medium : 34px,
  large : 36px
);

$img-menu-height: (
  null  : 300px,
  smaller : 300px,
  small: 350px,
  medium : 400px,
  large : 450px
);

$card-menu-height: (
  null  : 60px,
  smaller : 60px,
  small: 65px,
  medium : 70px,
  large : 90px
);

/* Width responsive */ 

$bouton-width: (
  null  : 220px,
  smaller : 240px,
  small: 260px,
  medium : 280px
);

$rond-width: (
  null  : 22px,
  smaller : 24px,
  small: 26px,
  medium : 28px
);

$card-new-width: (
  null  : 75px,
  smaller : 80px,
  small: 85px,
  medium : 90px,
  large : 100px
);

$img-footer-width: (
  null  : 30%,
  smaller : 23%,
  small: 15%,
  medium : 15%,
  large : 15%
);

/* Margin-top menu responsive */ 

$menu-top-margin: (
  null  : -70px,
  smaller : -70px,
  small: -85px,
  medium : -90px,
  large : -100px
);