.form-localisation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #eaeaea;
    border-top: 5px solid #dbdbdb;

    &_logo  {
        padding-right: 20px;
        color:#353535;

    }
    &_form input {
        border-style: none;
        background-color: $form-background;
        font-weight: $font;
        font-size: 25px;
        width: 155px;
    }
    &_form input::placeholder {
        color:#353535;
    }
}

