.header {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 15px;
     
     &_arrow {
        @include arrow; }

    &_logo {
        width: auto;
        max-width: 50%;
        display: flex;
        height: auto;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

