.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: $colour-background;
    @include margin-top ($menu-top-margin);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;

    &_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-right: 5%;
        padding-left: 5%;
      
        &_titre {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 25px;

            &_titre {
                width: 80%;

                h1 {
                    font-weight: 200;
                    @include font-size ($h1-page-font-sizes);
                    font-family: "Shrikhand";
                }
            }


        &_logo {
                 align-self: center;
                padding-right: 10%;
                padding-bottom: 5%;
                position: relative;

                i {
                    @include font-size ($p-font-sizes);
                }

                &_empty {
                    display: flex;
                    position: absolute;
                    opacity: 1;
                }

                &_full {
                    display: flex;
                    position: absolute;
                    opacity: 0;
                }

                &_empty:hover {
                    opacity: 0;
                    cursor: pointer;
                }

                &_full:hover {
                    cursor: pointer;
                    @include fill;
                    transition: transform 4000ms, opacity 4000ms;
                    

                }

            }


        }

        &_animation {
            animation: FadeIn 1s linear;
            animation-fill-mode: both;
            

            &_list {
                display: flex;
                padding-top: 35px;

                h2 {
                    display: inline-block;
                    padding-bottom: 8px;
                    color: #7b7b7b;
                    position: relative;
                    @include font-size ($h2-page-font-sizes);
                    font-weight: 500;
                }

                h2:before {
                    content: "";
                    position: absolute;
                    width: 60%;
                    height: 1px;
                    bottom: 0;
                    right: 40%;
                    border-bottom: 4px solid $colour-tertiary;
                }
            }
        }

        .menu_container_animation:nth-child(1) {
            animation-delay: .5s
        }

        .menu_container_animation:nth-child(2) {
            animation-delay: 1s
        }

        .menu_container_animation:nth-child(3) {
            animation-delay: 1.5s
        }

        &_menu {
            display: flex;
            flex-direction: row;
            @include height ($card-menu-height);
            max-width: 450px;
            justify-content: space-between;
            box-shadow: 3px 2px 2px darken($colour-background, 10%);
            border-radius: 15px;
            background: white;
            padding-left: 10px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 25px;
            position: relative;
            @media screen and (min-width: 768px) {
                max-width: 650px;
            }
            &_libele {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 90%;
                overflow: hidden;

                &_nom p {

                    @include font-size ($p-menu-font-sizes);
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &_detail {
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;

                    &_ingredient {
                        overflow: hidden;
                    }
                    &_ingredient p {
                        color: #676767;
                        @include font-size ($p-menu-ingredient-font-sizes);
                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }


            }



            &_prix {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                p {

                    @include font-size ($p-menu-ingredient-font-sizes);
                    font-weight: bold;
                    color: #3d3d3d;
                }
               
            }

            &_animation-deroulant {
                display: flex;
                justify-content: center;
                width: 0px;
                height: auto;
                margin-right: -21px;
                margin-top: -6px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                i {
                    display: flex;
                    font-size: 0px;
                    align-items: center;
                    color: white;
                    transform: rotate(-90deg);
                    animation-delay: 0.1s;
                    transition: transform 1s ease-in-out;
                }
            }
        }

        &_menu:hover .menu_container_menu_animation-deroulant {
            overflow: hidden;
            transition: 0.6s ease-in-out;
            width: 25%;
            @include height ($card-menu-height);
            background: $colour-tertiary;
            margin-top: -5px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            margin-left: 20px;
            
            &_menu_container_menu_prix {
                padding-left: 10px;
            }

            i {

                @include font-size ($p-font-sizes);
                transform: rotate(0deg);
            }
        }
        
    }
}

.container_bouton {
    display: flex;
    justify-content: center;
    margin: 35px 0;
}
