
.image-menu_box {
    display: flex;
    width: auto;
    height: auto;
    
    img {
        display: flex;
        width: 100%;
        @include height ($img-menu-height);
        object-fit: cover;
        overflow: hidden;
    }
}
